.btn-green {
  background-color: green;
  color: white;
  border: solid 2px #151515;
}

.btn-green:hover {
  background-color: #00420c;
  color: white;
  border: solid 2px black;
}

#form-button {
  margin: 20px 0;
  border: black 2px solid;
  font-size: 30px;
  font-weight: 700;
}

#objetivo {
  position: fixed;
  left: 20px;
  top: 20px;
  display: none;
  width: 75vw;
  height: 100px;
  background-color: #EFF0F1;
}

#success-submit {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: none;
}

.terms-title {
  margin-top: 100px;
  margin-bottom: 60px;
}

#btn-access {
  margin-bottom: 50px;
}

/* Input */

.searchbar {
  height: 60px;
  border: 2px solid green;
  background-color: #74f074;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  width: 70vw;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  color: #e74c3c;
  border: 2px solid #e74c3c;
  background: white;
}

#formulario-busca:valid .search_icon {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    border: 2px solid green;
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 128, 0, 0.7);
    color: green;
  }
  70% {
    border: 2px solid green;
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 128, 0, 0);
    color: green;
  }
  100% {
    border: 2px solid green;
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 128, 0, 0);
    color: green;
  }
}


.results-search {
  text-align: center;
}

/* Loader */

.loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.c-loader {
  animation: is-rotating 1s infinite;
  border: 30px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 325px;
  width: 325px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

/* Modal Popup */

.modal-popup {
  /* display: none; */
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-top {
  top: 20%;
}

.modal-bottom {
  top: 70%;
}

.modal-right {
  left: 68%;
}

.modal-right-full {
  left: 78%;
}

.modal-left {
  left: 20%;
}

.modal-popup {
  width: 400px;
  height: 350px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
}

.small-modal {
  height: 200px;
}

.modal-title {
  height: 45px;
  background-color: green;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0 .2);
}

.modal-title h2 {
  color: white;
  padding-left: 32px;
}

.fa-times {
  position: absolute;
  right: 20px;
  top: 14px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

.modal-popup p {
  margin: 20px 0px;
}

.line {
  margin-bottom: 5px;
  bottom: 60px;
  width: 100%;
  height: 1px;
  background-color: silver;
}

.touch-next {
  color: #27ae60;
  text-align: center;
  font-style: oblique;
}

.modal-popup .close-btn {
  position: absolute;
  bottom: 5px;
  right: 25px;
  border: 1px solid #27ae60;
  border-radius: 3px;
  color: green;
  padding: 8px 10px;
  font-size: 18px;
}

.modal-popup .close-btn:hover {
  border: 1px solid green;
  background-color: green;
  color: white;
  transition: 0.5s;
}

/* Ocultar conteudo  */

td, #form-button {
  opacity: 0.2;
}

.modal-button {
  bottom: 20%;
}


/* Buttons Finalizar */
.btn-final {
  margin-top: 50px;
  margin-left: 5px;
  width: 49%;
  height: 100px;
}



@media screen and (max-width: 768px) {
  .logoIfrs {
    width: 80vw;
  }
  .modal-popup {
    width: 100vw;
  }
  .line {
    height: 0;
  }
  .btn-final{
    width: 93vw;
    margin-top: 30px;
    margin-left: 0;
  }
}
