.menuTop {
    font-size: .75rem;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.menuTop li {
    border-right: 1px solid #ccc;
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
}

.menuTop li a {
    color: #fff;
}

.ababusca {
    background-image: url("../img/section_bg_04.png");
    background-repeat: no-repeat;
    z-index: -1;
}

/* 
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: green; /*#353b48
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    } */

@media screen and (max-width: 400px) {
    .menuTop {
        font-size: 10px;
    }
}