@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
/* Geral */

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Menu */

.logoIfrs {
  margin: 20px 40px 0px 40px;
  width: 90vw;
  max-width: 620px;
}

.header-links {
  min-height: 25px;
  background-color: green;
  margin-top: 1.5vh;
}

.header-links nav {
  float: right;
  margin-top: 0.6vh;
}

.menuTop {
  font-size: .75rem;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.menuTop li {
  border-right: 1px solid #ccc;
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
}

.menuTop li a {
  color: #fff;
}

.ababusca {
  margin-top: 40px;
  background-image: url("../img/section_bg_04.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 65vh;
}

.input-group {
  justify-content: center;
}

/* Resultados portarias */

.abresult {
  margin-top: 50px;
  margin-bottom: 50px;
}

.header-portarias {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.div-terms-results{
  max-width:50%;
}

.div-new-search{
  display: flex;
  align-items: center;
}

.btn-green, .btn-green:hover {
  height: 45px;
  margin-left: 15px;
  padding: 12px;
  background-color: green;
  color: white;
  border: solid 2px rgb(34, 34, 34);
  border-radius: 6px;
}


/* Tooltip */

.btn-help {
  font-size: 25px;
  cursor: pointer;
  position: relative;
}

.btn-help .tooltiptext {
  opacity: 0;
  width: 80px;
  background-color: #212529;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  right: 100%;
  top: 10%;
  font-size: 15px;
  z-index: 2;
  transition: 1s ease;
}

.btn-help.tooltip-search .tooltiptext{
  left: 90%;
  top: 100%;
}

.btn-help:hover .tooltiptext {
  opacity: 1;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
  text-align: right;
}

#example_filter label {
  font-size: 15px;
}

#example_filter input {
  border-radius: 6px;
  padding: 3px;
}

/* Input */

.input-group-text {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: #74f074;
  border: 2px solid green;
  border-right: none;
}

.icon-search-btn {
  border-radius: 0 50% 50% 0;
  border: 2px solid green;
  border-left: 2px solid transparent;
  background-color: #54B054;
  transition: 1s;
}

.icon-search-btn:hover {
  background-color: green;
  border: 2px solid green;
}

.searchbar {
  height: 60px;
  border: 2px solid green;
  background-color: #74f074;
  max-width: 70vw;
  border-left: none;
  font-weight: bold;
  color: #212529 !important;
}

.searchbar:focus {
  border: 2px solid green;
  border-left: none;
  background-color: #74f074;
}

.search_icon {
  text-decoration: none;
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: green;
  background: white;
}

.search_icon:hover {
  text-decoration: none;
  color: green;
}

/* Loader */

.loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.c-loader {
  animation: is-rotating 1s infinite;
  border: 30px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 325px;
  width: 325px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

/* Modal Popup */

.my-modal, .modal-erro {
  display: none;
  position: absolute;
  z-index: 1;
}

.modal-popup {
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 350px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
}

.modal-top {
  top: 20%;
}

.modal-bottom {
  top: 70%;
}

.modal-right {
  left: 68%;
}

.modal-right-full {
  left: 78%;
}

.modal-left {
  left: 20%;
}

.very-small-modal {
  height: 200px;
}

.small-modal {
  height: 270px;
}

.mid-modal {
  height: 300px;
}

.big-modal {
  height: 330px;
}

.modal-title {
  height: 45px;
  background-color: green;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0 .2);
}

.modal-title h2 {
  color: white;
  padding-left: 32px;
}

.fa-times {
  position: absolute;
  right: 0px;
  top: 0px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
  padding: 14px;
  transition: .5s ease-in-out;
}

.fa-times:hover {
  transform: scale(1.6);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
}

.modal-popup p {
  margin: 20px 10px;
}

.line {
  margin-bottom: 5px;
  bottom: 60px;
  width: 100%;
  height: 1px;
  background-color: silver;
}

.touch-next {
  color: #27ae60;
  text-align: center;
  font-style: oblique;
}

.btn-pdf {
  background-color: lightgray;
  transition: 1s;
}

.btn-pdf:hover {
  background-color: #A3A3A3;
}

.btn-pdf .fa-file-pdf-o {
  font-size: 25px;
  transition: .5s;
}

.btn-pdf:hover .fa-file-pdf-o {
  transform: scale(1.2);
}

/* Media query */

@media screen and (max-width: 400px) {
  .menuTop {
    font-size: 10px;
  }
  #example_filter {
    margin-top: 100px;
  }
}

@media screen and (max-width: 500px) {

  #example_filter {
    margin-top: 10px;
  }
  .modal-title h2 {
    padding-left: 10px;
  }

  #example {
    width: 100vw;
  }

  /* td:first-child, th:first-child{
    display: none;
  } */
}

@media screen and (max-width: 768px) {
  .div-terms-results h3 {
    font-size: 20px;
  }
  .logoIfrs {
    width: 75vw;
  }
  .modal-popup {
    width: 98vw;
  }
}